/* styles_navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20232a;
    color: rgb(170, 156, 156);
    padding: 15px 20px;
}

.logo {
    font-size: 1.5rem;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navLinks a {
    color: rgb(134, 123, 123);
    text-decoration: none;
    font-size: 1.2rem;
}
